@model Moqups.App.Models.EditUserModel

<style type="text/css">
    select.listbox {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
</style>

<script>
    $(function () {
        $("#sortable1, #sortable2").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();
    });
    
    function deleteEntity(idEntity) {
        window.location.href = '@Url.Action("DeleteEntity", "Home")/' + idEntity;
    }
</script>

@using (Html.BeginForm("SaveOrUpdate", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x => x.User.Id)
    <table width="100%">
        <tr>
            <td>Firstname</td>
            <td>@Html.TextBoxFor(x => x.User.Firstname)</td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>@Html.TextBoxFor(x => x.User.Lastname)</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>@Html.DropDownListFor(x => x.User.Status, @Model.StatusList)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.CheckBoxFor(x => x.User.IsAdmin)Admin</td>
        </tr>
        <tr>
            <td>User's pages</td>
            <td>Available pages</td>
        </tr>
        <tr>
            <td>@Html.ListBoxFor(x => x.User.Pages, new MultiSelectList(@Model.User.Pages, "Id", "Name"), new { size = 4, id = "sortable2", @class = "listbox" })</td>
            <td>
                <select id="sortable1" multiple="multiple" size="4" class="listbox">
                    @foreach (Moqups.Entities.Page page in @Model.AvailablePages)
                    {
                        <option value="@page.Id">@page.Name</option>
                    }
                </select>
            </td>
        </tr>
    </table>
    
    <input type="submit" value="Save" />
    <input type="button" value="Cancel" />
    if(Model.User.Id > 0)
    {
         <input type="button" value="Delete" onclick="deleteEntity(@Model.User.Id)" />
    }
}
