@using Moqups.Entities
@model IList<User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    <link href="/Content/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="/Content/themes/base/jquery.ui.all.css" rel="stylesheet">
    <script src="/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Pick a theme, load the plugin & initialize plugin -->
    <link href="/Content/themes/sorter/theme.default.css" rel="stylesheet">
    <script src="/Scripts/jquery.tablesorter.min.js"></script>
    <script src="/Scripts/jquery.tablesorter.widgets.min.js"></script>
    
    <style rel="stylesheet">
        #foreground {
            display: none;
            position: absolute;
            top: 0;right: 0;
            bottom: 0;left: 0;
            -ms-opacity: 0.3;
            opacity: 0.3;
            background: black;
        }

        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
        }
    </style>
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('table').tablesorter({
                widgets: ['zebra', 'columns'],
                usNumberFormat: false,
                sortReset: true,
                sortRestart: true
            });
        });

        function openWindow(isEdit, userId) {
            var titleWindow = isEdit ? "Edit user" : "Add user";
            var dialogMessage = $("#dialog-message");
            $("#foreground").show();
            $.ajax({
                type: "GET",
                cache: false,
                url: '@Url.Action("DetailsUser", "Home")',
                data: ({ id: userId }),
                complete: function() {
                    $("#foreground").hide();
                },
                error: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    dialogMessage.html(data);
                    dialogMessage.dialog({
                        modal: true,
                        title: titleWindow,
                        width: 350
                    });

                    var cancelButton = $("#dialog-message").find("#cancelButton");
                    cancelButton[0].onclick = null;
                    cancelButton.on("click", function () {
                        dialogMessage.dialog("close");
                    });
                }
            });
        }
    </script>
}
<div id="foreground">
    <div class="loading">
        loading...
    </div>
</div>
<input type="button" value="Add" onclick="openWindow(false, 0)" />

<div id="dialog-message">
</div>

<table class="tablesorter" id="myTable">
    <thead>
        <tr>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Status</td>
            <td>Pages</td>
            <td>Admin</td>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in @Model)
        {
            <tr ondblclick="openWindow(true, @user.Id)">
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Status</td>
                <td>@(user.Pages.Aggregate(string.Empty, (accString, p2) => accString + "/" + p2.Name))</td>
                <td><input type="checkbox" checked="@user.IsAdmin" disabled="disabled"/></td>
            </tr>
        }
    </tbody>
</table>
